<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

    <h1>ajax传递json数据</h1>
    <form action="" method="post" enctype="multipart/form-data">
        姓名<input type="text" name="user" id="user">
        ajax<input type="submit" class="btn">
    </form>
    <script>
            $('.btn').click(function () {
            $.ajax({
                url: {% url 'ajax' %},
                type:'post',
                contentType:'application/json',
                data:JSON.stringify({ 　　　　　
                    a:1,
                    b:2
                }),
                success:function (data) {
                    console.log(data)
                }
            })

        })
    </script>


</body>
</html>