{% extends 'introducer/IndexTemplate.html' %} }}
{% block title %}
    我的主页
{% endblock %}


{% block head %}

{% endblock %}


{% block main %}
    <h3>我的主页</h3>


{#    <form action="" enctype="multipart/form-data" method="post">#}
{#        <input type="text" id="i1">+#}
{#        <input type="text" id="i2">=#}
{#        <input type="text" id="i3">#}
{#        <input type="button" value="AJAX提交" id="b1">#}
{#    </form>#}

{#    # novalidate 关闭django form表单自带的一些校验机制，  autocomplete='off' 可以让输入框输入的数据保留下来，在刷新页面的时候不被清空#}
<form action="" method="post" novalidate autocomplete="off">
    {% csrf_token %}
    <!--1,对象.as_p 生成p标签,里边会自动成成input标签-->
    {{ form_obj.as_p }}


    <!--2,分开写标签，和1的形式是一样的-->
    <p>
{#        <!--生成 lable 标签-->#}
{#        {{ form_obj.username.label }}#}
{#        <!--生成 user 的 input 标签-->#}
{#        {{ form_obj.username }}#}
{#        <span style="color: red">{{ form_obj.username.errors.0 }}</span>#}
{#        {{ form_obj.password.label }}#}
{#        {{ form_obj.password }}#}
{#        <span style="color: red">{{ form_obj.password.errors.0 }}</span>#}
    </p>
    <input type="submit" value="submit">
</form>

{##}
{#    <script>#}
{#        $("#b1").on("click", function () {#}
{#            $.ajax({#}
{#                url: "{% url 'ajax_add' %}",#}
{#                type: "POST",#}
{#                data: {#}
{#                    "i1": $("#i1").val(),#}
{#                    "i2": $("#i2").val()#}
{#                },#}
{#                success: function (data) {#}
{#                    alert($("#i1").val())#}
{#                    $("#i3").val(data);#}
{#                }#}
{#            })#}
{#        });#}
{#    </script>#}
{##}
{##}
{#    <script src="https://cdn.bootcdn.net/ajax/libs/jquery/3.6.0/jquery.min.js"></script>#}
{#    <script src="http://code.jquery.com/jquery-2.1.1.min.js"></script>#}

{% endblock %}