{% extends 'introducer/IndexTemplate.html' %} }}
{% block title %}
    订单
{% endblock %}


{% block head %}

{% endblock %}


{% block main %}
    <h3>订单</h3>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-8">

                {% for order in orderQuerySet %}
                    <div class="list-group">
                      <a href="#" class="list-group-item active">
                        <h4 class="list-group-item-heading">房子id:{{ order.house_id }}</h4>
                        <p class="list-group-item-text">订单:{{ order.order_amount }}</p>
                        <p class="list-group-item-text">订阅者:{{ order.subscriber_id }}</p>
                        <p class="list-group-item-text">发布者:{{ order.publisher_name }}</p>
                        <p class="list-group-item-text">订单状态：{{ order.orderStatus }}</p>
                        <p class="list-group-item-text">创建时间:{{ order.create_time }}</p>
                        <p class="list-group-item-text">订更新时间:{{ order.update_time }}</p>
                      </a>
                    </div>
                {% endfor %}


                <h2>
                    Heading
                </h2>
                <p>
                    Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
                </p>
                <p>
                    <a class="btn" href="#">View details »</a>
                </p>



            <!-- 16:9 aspect ratio -->
                <div class="embed-responsive embed-responsive-16by9">
                  <iframe class="embed-responsive-item" src="..."></iframe>
                </div>


            </div>




            <div class="col-md-4">
                <img alt="Bootstrap Image Preview" width="140" height="140" src="/media/introducer/profile/default1.jpg" />
                <div class="page-header">
                    <h1>
                        LayoutIt  <br>
                        <small>Interface Builder for Bootstrap</small>
                    </h1>
                </div>
            </div>
        </div>
    </div>
{% endblock %}