{% extends 'introducer/IndexTemplate.html' %} }}
{% block title %}
    订单
{% endblock %}


{% block head %}

{% endblock %}


{% block main %}
    <h3>订单</h3>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-8">

                {% for order in orderQuerySet %}
                    <pre>
                        房子id:{{ order.house_id }}
                        订单:{{ order.order_amount }}
                        订阅者:{{ order.subscriber_id }}
                        发布者:{{ order.publisher_id }}
                        时间:{{ order.create_time }}
                    </pre>
                {% endfor %}


                <h2>
                    Heading
                </h2>
                <p>
                    Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
                </p>
                <p>
                    <a class="btn" href="#">View details »</a>
                </p>
                <table class="table">
                    <thead>
                    <tr>
                        <th>
                            #
                        </th>
                        <th>
                            Product
                        </th>
                        <th>
                            Payment Taken
                        </th>
                        <th>
                            Status
                        </th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>
                            1
                        </td>
                        <td>
                            TB - Monthly
                        </td>
                        <td>
                            01/04/2012
                        </td>
                        <td>
                            Default
                        </td>
                    </tr>
                    <tr class="table-active">
                        <td>
                            1
                        </td>
                        <td>
                            TB - Monthly
                        </td>
                        <td>
                            01/04/2012
                        </td>
                        <td>
                            Approved
                        </td>
                    </tr>
                    <tr class="table-success">
                        <td>
                            2
                        </td>
                        <td>
                            TB - Monthly
                        </td>
                        <td>
                            02/04/2012
                        </td>
                        <td>
                            Declined
                        </td>
                    </tr>
                    <tr class="table-warning">
                        <td>
                            3
                        </td>
                        <td>
                            TB - Monthly
                        </td>
                        <td>
                            03/04/2012
                        </td>
                        <td>
                            Pending
                        </td>
                    </tr>
                    <tr class="table-danger">
                        <td>
                            4
                        </td>
                        <td>
                            TB - Monthly
                        </td>
                        <td>
                            04/04/2012
                        </td>
                        <td>
                            Call in to confirm
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="col-md-4">
                <img alt="Bootstrap Image Preview" width="140" height="140" src="/media/introducer/profile/default1.jpg" />
                <div class="page-header">
                    <h1>
                        LayoutIt  <br>
                        <small>Interface Builder for Bootstrap</small>
                    </h1>
                </div>
            </div>
        </div>
    </div>
{% endblock %}