{% extends 'introducer/IndexTemplate.html' %} }}
{% block title %}
    资讯
{% endblock %}


{% block head %}

{% endblock %}


{% block main %}
    <h1>
        资讯
    </h1>

    <div class="container-fluid">
	    <div class="row">
            <div class="col-md-15">
                <div class="alert alert">
                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">
                        关闭
                    </button>
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <img class="d-block w-100" alt="Carousel Bootstrap Second" src="https://www.layoutit.com/img/sports-q-c-1600-500-2.jpg" />

                            <div class="carousel-caption">
                                <h4>
                                    找房，为啥不找更便宜的renting任婷呢？
                                </h4>
                                <p>
                                    Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="container-fluid">
        <div class="row">
            <div class="col-md-8">
                <h2>
                    Heading
                </h2>
                <p>
                    Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
                </p>
                <p>
                    <a class="btn" href="#">View details »</a>
                </p>

                <div class="container-fluid">
                <div class="row">
                    <div class="media">
                        <img class="mr-3" alt="Bootstrap Media Preview" src="https://www.layoutit.com/img/sports-q-c-64-64-8.jpg" />
                        <div class="media-body">
                            <h5 class="mt-0">
                                Nested media heading
                            </h5> Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis.
                            <div class="media mt-3">
                                 <a class="pr-3" href="#"><img alt="Bootstrap Media Another Preview" src="https://www.layoutit.com/img/sports-q-c-64-64-2.jpg" /></a>
                                <div class="media-body">
                                    <h5 class="mt-0">
                                        Nested media heading
                                    </h5> Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis.
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            </div>
            <div class="col-md-4">
                <img alt="Bootstrap Image Preview" src="https://www.layoutit.com/img/sports-q-c-140-140-3.jpg" />
                <div class="page-header">
                    <h1>
                        LayoutIt  <br>
                        <small>Interface Builder for Bootstrap</small>
                    </h1>
                </div>
            </div>
        </div>
    </div>



{% endblock %}