{% extends 'introducer/IndexTemplate.html' %} }}
{% block title %}
    订单
{% endblock %}


{% block head %}

{% endblock %}


{% block main %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-8">
                {% for house in houseInfoObj %}
                    <div class="media">
                        <div class="media-left">
                            <img  style="float: left" class="mr-3" alt="Bootstrap Media Preview" src="https://www.layoutit.com/img/sports-q-c-64-64-8.jpg" />
                        </div>
                        <div class="media-body">
                            <h4 class="media-heading">
                              {{ house.housename }} | {{ house.community }} | {{ house.price }} | {{ house.surrounding_facilities }} | {{ house.house_type }}
                            </h4>
                            <p>
                                 {{ house.address }} | {{ house.describe }} |
                                 <a href="{% url 'transferhousestatus' house.id house.shelf_status house.is_delete %}  ">
                                    <input type="submit" value="上架状态：{{ house.shelf_status }}">
                                    <input type="submit" value="删除状态：{{ house.is_delete }}">
                                 </a>

                            </p>
                        </div>
                    </div>
                    <hr>
                {% endfor %}

                <h2>
                    Heading
                </h2>
                <p>
                    Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
                </p>
                <p>
                    <a class="btn" href="#">View details »</a>
                </p>
            </div>
            <div class="col-md-4">
                <pre>sss</pre>
{#                <img alt="Bootstrap Image Preview" width="140" height="140" src="/media/introducer/profile/default1.jpg" />#}
{#                <div class="page-header">#}
{#                    <h1>#}
{#                        LayoutIt  <br>#}
{#                        <small>Interface Builder for Bootstrap</small>#}
{#                    </h1>#}
{#                </div>#}
            </div>
        </div>
    </div>
{% endblock %}