{% extends 'introducer/IndexTemplate.html' %} }}
{% block title %}
    订单
{% endblock %}


{% block head %}

{% endblock %}


{% block main %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-8">

                {% for order in orderQuerySet %}
                    <div class="list-group">
                      <a href="#" class="list-group-item active">
                        <h4 class="list-group-item-heading">房子id:{{ order.house_id }}</h4>
                        <p class="list-group-item-text">订单:{{ order.order_amount }}</p>
                        <p class="list-group-item-text">订阅者:{{ order.subscriber_id }}</p>
                        <p class="list-group-item-text">发布者:{{ order.publisher_name }}</p>
                        <p class="list-group-item-text">订单状态：{{ order.orderStatus }}</p>
                        <p class="list-group-item-text">创建时间:{{ order.create_time }}</p>
                        <p class="list-group-item-text">订更新时间:{{ order.update_time }}</p>
                      </a>
                    </div>
                {% endfor %}
            </div>


            <div class="col-md-4">
                <div class="page-header">
                    <h1>
                        订单页
                        <br>
                        <small>
                            订单介绍
                        </small>
                    </h1>
                </div>
            </div>


        </div>
    </div>
{% endblock %}